@import "tailwindcss";
@config "../tailwind.config.ts";
@import "react-datepicker/dist/react-datepicker.css";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --breakpoint-md: 745px;
  --breakpoint-lg: 1024px;
}

body {
  background: #fff;
  color: #111827;
  font-family: var(--font-geist-sans), sans-serif;
}

.react-datepicker {
  border: 0;
  font-family: inherit;
}

.react-datepicker__day--selected,
.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
  border-radius: 9999px;
  background-color: #111827;
  color: white;
}

.react-datepicker__day--in-range {
  background-color: #f3f4f6;
  color: #111827;
}

.leaflet-container {
  z-index: 1;
}
